[www]
listen = /run/php/php7.1-fpm.php.sock
user = php
group = php

listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = {{ max_children }}
pm.start_servers = {{ start_servers }}
pm.min_spare_servers = {{ min_spare_servers }}
pm.max_spare_servers = {{ max_spare_servers }}
